{erl_opts, [ debug_info
           , nowarn_shadow_vars
           , warnings_as_errors
           , {d, 'S2_USE_OTP_LOGGER'}
           ]}.

{deps, [ {stdlib2, ".*", {git,"https://github.com/kivra/stdlib2.git", {tag, "v1.4.3"}}}
       , {eon,     ".*", {git,"https://github.com/kivra/eon.git",     {branch, "master"}}}
       , {lager,   ".*", {git,"https://github.com/kivra/lager",       {branch, "master"}}}
       , {prometheus, "4.10.0"}
       ]}.
