{erl_opts, [ debug_info
           , nowarn_shadow_vars
           , warnings_as_errors
           , {d, 'S2_USE_LAGER'}
           ]}.

{deps, [ {stdlib2, ".*", {git,"https://github.com/kivra/stdlib2.git", {branch, "master"}}}
       , {eon,     ".*", {git,"https://github.com/kivra/eon.git",     {branch, "master"}}}
       , {lager,   ".*", {git,"https://github.com/kivra/lager",       {branch, "master"}}}
       ]}.
